doctype html
html(ng-app='Howfast')
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-resource.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/angular-messages.min.js')
    script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js')
    script(src='/javascripts/main.min.js')
    script(src='/javascripts/d3.v3.min.js')
    script(src='/javascripts/topojson.v0.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.min.css')
  body
    block content
