header {
  font-family: 'Quicksand';
  color: #e6dae1;
  padding: 5px 2px;
  font-size: 25px;
  text-align: center;
  background-color: #104E8B;
  border-bottom: 1px solid #c42700;
  text-shadow: 0px -1px 0px #c42700;
}

body {
  font-family: 'Georgia';
  font-size: 20px;
  background-color: #0099cc;
  color: #444;
}

.original {
  background-color: #00FFFF;
}

.amended {
  background-color: #008080;
}

a {
  color: #ffffff;
}

.res {
  font-family: 'Quicksand';
  color: #e6dae1;
  margin: 30px 0px 30px 0px;
  padding: 5px;
  font-size: 22px;
  list-style-type: none;
  list-style-position: left;
  text-align: left;
  background-color: #104E8B;
  border-radius: 10px;
  overflow: auto;
  width: 100%;
}

#boom {
  display: none;
}

.story {
  font-family: 'Quicksand';
  color: #e6dae1;
  margin: 30px 0px 30px 0px;
  padding: 5px;
  font-size: 30px;
  list-style-type: none;
  list-style-position: left;
  text-align: left;
  background-color: #104E8B;
  border-radius: 10px;
  overflow: auto;
}

textarea {
  resize: none;
  transition: 0.05s;
  -moz-transition: 0.05s;
  -webkit-transition: 0.05s;
  -o-transition: 0.05s;
 }

 .missing {
  /*add red or something*/
 }

 .bigger {
  font-size: 2em;
 }

 .sides {
  float: left;
  margin: 5px 5px 5px 5px;
  color: #E0FFFF;
 }

 .spacer {
  position: fixed;
  top: 10px;
}

.check {
  font-size: 22px;
  border-radius: 10px;
}

.hint {
  font-size: 22px;
  border-radius: 10px;
}

.back {
  font-size: 22px;
  border-radius: 10px;
}

.behind {
  background-color: #DCDCDC;
}