@import './mixins.scss';

path.unselected {
  stroke: white;
  stroke-width: 0.5px;
  fill: teal;
}

path.selected {
  stroke: red;
  stroke-width: 0.5px;
  fill: black;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25em;

  @include respond-to("small") {
    margin-bottom: 1.25em;
    flex-direction: row;
  }
}

.App-header, html, main {
  background-color: #282c34;
}

main {
  margin: 0;
  /* min-height: 85vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.world-map {
  margin: 0 10%;
}

.faster-than, .date-stamp {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 0 0;
}

.select-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-top: 1em;

    .select-box {
      width: 85%;
      margin: 0.25em 0;
    }

  @include respond-to("small") {
    justify-content: space-evenly;

    width: 35%;

    .select-box {
      width: 65%;
      margin: 0.5 0em;
    }
  }
}

.compare-button {
  border-radius: 0.25em;
  margin: 0.25em 0;
  font-size: 2rem;

  @include respond-to("small") {
    margin: 0 0.25em;
  }
}

.picker-box {
  width: 95%;
  margin-bottom: 0.25em;

  @include respond-to("small") {
    width: 20em;
    margin-bottom: 2em;
  }

}

.hidden {
  max-height: 0;
  display: none;
}

.info-box {
  color: white;
  margin: 1em 5em;
}

.picker-labels {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.65rem;

  @include respond-to("small") {
    font-size: inherit;
  }
}