@import './mixins.scss';

path.unselected {
  stroke: white;
  stroke-width: 0.5px;
  fill: teal;
}

path.selected {
  stroke: red;
  stroke-width: 0.5px;
  fill: black;
}

main {
  overflow: hidden;
}

.App-header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.5s ease-in-out;

  &.hide {
    opacity: 0;
  }
}

.App-header, html, main {
  background-color: #282c34;
}

main {
  display: flex;
  flex-direction: row;
}

.world-map {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;

  svg {
    min-width: 70em;

    @include respond-to("small") {
      min-width: 90em;
    }
  }
}

.faster-than, .date-stamp, .scroll-note {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em;
  text-align: center;
}

.select-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;

    .select-box {
      width: 85%;
      margin: 0.25em 0;
    }

  @include respond-to("small") {
    justify-content: space-evenly;

    width: 50%;
    font-size: 2.5rem;

    .select-box {
      width: 65%;
      margin: 0.5 0em;
    }
  }
}

.compare-button, .back-button {
  border-radius: 0.25em;
  margin: 0.25em 0;
  font-size: 2rem;

  @include respond-to("small") {
    margin: 0.5em 0.25em;
    font-size: 3rem;
    width: 5em;
    height: 1.5em;
  }
}

.picker-box {
  width: 95%;

  @include respond-to("small") {
    width: 50%;
  }

}

.hidden {
  max-height: 0;
  display: none;
}

.info-box {
  color: white;
  margin: 1em 3em;

  @include respond-to("small") {
    max-width: 45%;
    font-size: 2rem;
  }
}

.picker-labels {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.65rem;

  @include respond-to("small") {
    font-size: inherit;
  }
}

.picker-item {
  background: white;
  border: 3px solid black;
}

.picker-item-selected {
  font-weight: bold;
  font-size: 1.5rem;
}

.countries-list {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 100vw;

  .country {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name, .time {
      margin: 0.25em;
    }
  }
}


.results {
  transition: margin-left 0.5s ease-in-out;
  &.display {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: inherit;
  }
  &.hide {
    margin-left: 100em;
  }
}

.info {
  margin-top: 1em;
}